@import url("https://use.typekit.net/vkg0ejp.css");
@import "tailwindcss";
@plugin "@tailwindcss/typography";


@theme {
  /* This creates a 'bg-hero' utility */
  --background-image-hero: url('/banner/banner.png');
  --font-clarendon: "clarendon-text-pro", serif;
  --font-clarendon: "clarendon-text-pro", serif;
  /* --font-sans: "clarendon-text-pro"; */
  --color-theme-dark: #192330;
  --color-theme-red: #C62127;
  --color-theme-blue: #3E639B;
  --color-theme-yellow: #E9C93B;
  --color-theme-cream: #F5D8A3;
  --color-theme-alice:#f0f4f8;
  --font-poppins: var(--font-poppins);
  --font-fraunces: var(--font-fraunces);
  --font-clarendon: "clarendon-text-pro", serif;
  /* --font-sans: "clarendon-text-pro", serif; */
}

@layer utilities {
  .font-poppins {
    font-family: var(--font-poppins);
  }
  .font-fraunces {
    font-family: var(--font-fraunces);
  }
  .font-clarendon {
    font-family: var(--font-clarendon);
  }
}

/* anchor scroll */
html {
  scroll-behavior: smooth;
}

/* Offset for fixed headers */
[id] {
  scroll-margin-top: 80px; /* Height of your header */
}


.faq-answer ul {
  list-style-type: disc; /* Standard bullet points */
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-left: 1.5rem; /* Space for the bullets */
}

.faq-answer ol {
  list-style-type: decimal; /* 1, 2, 3... */
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-left: 1.5rem;
}

.faq-answer li {
  margin-bottom: 0.5rem;
  line-height: 1.6;
}